/* Coolors Exported Palette - https://coolors.co/fd6728-333333-6aafe1-ffffff-119da4-8bd666 */

/* CSS HEX */
--giants-orange: #fd6728ff;
--jet: #333333ff;
--argentinian-blue: #6aafe1ff;
--white: #ffffffff;
--dark-cyan: #119da4ff;
--pistachio: #8bd666ff;

/* CSS HSL */
--giants-orange: hsla(18, 98%, 57%, 1);
--jet: hsla(0, 0%, 20%, 1);
--argentinian-blue: hsla(205, 66%, 65%, 1);
--white: hsla(0, 0%, 100%, 1);
--dark-cyan: hsla(183, 81%, 35%, 1);
--pistachio: hsla(100, 58%, 62%, 1);

/* SCSS HEX */
$giants-orange: #fd6728ff;
$jet: #333333ff;
$argentinian-blue: #6aafe1ff;
$white: #ffffffff;
$dark-cyan: #119da4ff;
$pistachio: #8bd666ff;

/* SCSS HSL */
$giants-orange: hsla(18, 98%, 57%, 1);
$jet: hsla(0, 0%, 20%, 1);
$argentinian-blue: hsla(205, 66%, 65%, 1);
$white: hsla(0, 0%, 100%, 1);
$dark-cyan: hsla(183, 81%, 35%, 1);
$pistachio: hsla(100, 58%, 62%, 1);

/* SCSS RGB */
$giants-orange: rgba(253, 103, 40, 1);
$jet: rgba(51, 51, 51, 1);
$argentinian-blue: rgba(106, 175, 225, 1);
$white: rgba(255, 255, 255, 1);
$dark-cyan: rgba(17, 157, 164, 1);
$pistachio: rgba(139, 214, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-right: linear-gradient(90deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-bottom: linear-gradient(180deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-left: linear-gradient(270deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-top-right: linear-gradient(45deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-bottom-right: linear-gradient(135deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-top-left: linear-gradient(225deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-bottom-left: linear-gradient(315deg, #fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);
$gradient-radial: radial-gradient(#fd6728ff, #333333ff, #6aafe1ff, #ffffffff, #119da4ff, #8bd666ff);